<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>


  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to "#{user.name}", user_path(user) %></td>
        <td><%= link_to 'Add friend', friendships_path(user, friendship: {friend_id: "#{user.id}", user_id: "#{current_user.id}"}), method: :post %></td>
      </tr>
    <% end %>
  </tbody>
</table>