<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>


  <tbody>
    <% @users.each do |user| %>
      <tr>
      <% @user = User.find(user.id) %>
        <td><%= link_to "#{user.name}", user_path(user) %></td>
        <td><%= link_to 'Add friend', friendships_path(@user, format: "html", friendship: {friend_id: "#{user.id}", user_id: "#{current_user.id}"}), method: :post %></td> # the format param is "1" instead of html due to link_to. why?
      </tr>
    <% end %>
  </tbody>
</table>